In [ ]:
#! pip install mysqlclient
#! pip install mysql-connector-python

In [ ]:
#! pip install pandas
#! pip install sqlalchemy

In [5]:

from sqlalchemy import create_engine, text, inspect
import pandas as pd

In [6]:
engine = create_engine(f'mysql+mysqlconnector://root:9,_!C]TKwK.Fv^T@127.0.0.1:3306/testdata')

#chunksize = 10000  # Adjust as needed

In [2]:
#insp = inspect(engine)
geoQuery = "SELECT * FROM geoids_county"
covQuery1 = "SELECT * FROM covid_county_daily_2020"
covQuery2 = "SELECT * FROM covid_county_daily_2021"
covQuery3 = "SELECT * FROM covid_county_daily_2022"
covQuery4 = "SELECT * FROM covid_county_daily_2023"

In [7]:
with engine.connect() as connection:
    with connection.connection.cursor() as cursor:

        cursor.execute(geoQuery)    
        geoids = pd.DataFrame(cursor.fetchall(), columns=[description[0] for description in cursor.description])

        cursor.execute(covQuery1)    
        covDat1 = pd.DataFrame(cursor.fetchall(), columns=[description[0] for description in cursor.description])

        cursor.execute(covQuery2)    
        covDat2 = pd.DataFrame(cursor.fetchall(), columns=[description[0] for description in cursor.description])

        cursor.execute(covQuery3)    
        covDat3 = pd.DataFrame(cursor.fetchall(), columns=[description[0] for description in cursor.description])

        cursor.execute(covQuery4)    
        covDat4 = pd.DataFrame(cursor.fetchall(), columns=[description[0] for description in cursor.description])



    
#cursor.close()

# *Data Manipulation, Preparing for Merging*
> #### Take Covid Data, merge with Policies and Mobility Data to see if there is a correlation bewtween policies, mobility data, and covid cases

In [ ]:
# The code below is deprecated and adds a statefips column to the covDat dataframe, but this is done in the SQL query now

'''
for i in range(len(covDat['countyfips'])):
    #print(covDat.iloc[i]['countyfips'][0])
    covDat.loc[i, 'statefips'] = covDat.loc[i, 'countyfips'][0]
# writing changes to sql database for uniformity
covDat.to_sql('covid_county_daily_2020', con=engine, if_exists='append', index=False, chunksize=1000)

'''

### THE CODE BELOW MERGES DATAFRAMES USING PYTHON, BUT DECIDED TO GO WITH SQL API FOR QUERYING EFFICIENCY

In [8]:
# First, merge the 4 years of covid data in one

covDat = pd.concat([covDat1, covDat2, covDat3, covDat4], ignore_index=True)

### Imputing '.' as 0 and dropping a couple columns

In [9]:
covDat.replace('.', 0, inplace=True)
covDat.drop(['new_booster_first_rate', 'booster_first_rate'], inplace=True, axis=1)

In [14]:
covDat[covDat['case_rate'] != 0]

,year,month,day,countyfips,new_case_count,new_death_count,case_count,death_count,new_case_rate,case_rate,...,vaccine_count,fullvaccine_count,booster_first_count,new_vaccine_count,new_fullvaccine_count,new_booster_first_count,new_vaccine_rate,vaccine_rate,new_fullvaccine_rate,fullvaccine_rate
45603,2020,1,21,53061,0,0,1,0,0,.122,...,0,0,0,0,0,0,0,0,0,0
48745,2020,1,22,53061,0,0,1,0,0,.122,...,0,0,0,0,0,0,0,0,0,0
51887,2020,1,23,53061,0,0,1,0,0,.122,...,0,0,0,0,0,0,0,0,0,0
52656,2020,1,24,17031,0,0,1,0,0,.0194,...,0,0,0,0,0,0,0,0,0,0
55029,2020,1,24,53061,0,0,1,0,0,.122,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3831997,2023,6,5,36005,35,0,451375,8536,2.47,31827,...,0,0,0,0,0,0,0,0,0,0
3831998,2023,6,5,36047,53,0,826317,14274,2.07,32279,...,0,0,0,0,0,0,0,0,0,0
3831999,2023,6,5,36061,40,0,502927,6200,2.46,30879,...,0,0,0,0,0,0,0,0,0,0
3832000,2023,6,5,36081,62,0,763808,13496,2.75,33889,...,0,0,0,0,0,0,0,0,0,0
3832001,2023,6,5,36085,9,0,192914,2755,1.89,40516,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Now, push the merged data to the database

with engine.connect() as connection:
    with connection.connection.cursor() as cursor:
        covDat.to_sql('coviddat_20to23', con=engine, if_exists='replace', index=False, chunksize=2000)

In [7]:
query ='''
select c.*, g.stateabbrev, g.countyname, g.county_pop2019
from coviddat_20to23 as c
left join geoids_county as g on c.countyfips=g.countyfips;

'''
#cursor = rawConnection.cursor()

with engine.connect() as connection:
    with connection.connection.cursor() as cursor:
        cursor.execute(query)
        #print(cursor.fetchall())
        mergedDat = pd.DataFrame(cursor.fetchall(), columns=[description[0] for description in cursor.description])